body {
  padding-left: 25px;
}

.shirt-container {
  display: inline-block;
  overflow: hidden;
  margin: 12px auto;
  min-width: 300px;
  padding: 5px;
  position: relative;
  /*visibility: hidden;*/
  width: calc(25% - 12px);
}

img {
  background: #fff;
  border: 2px solid #74bdea;
  display: inline;
  float: left;
  margin: 0;
  padding: 2%;
  width: 100%;
}
.img2 {
  background: #fff;
  border: 2px solid #74bdea;
  display: none;
  float: left;
  margin: 0;
  padding: 2%;
  width: 100%;
}

.collapsed-menu {
  display: none;
}

.shirt-flip {
  border: 2px solid #74bdea;
  color: #74bdea;
  padding: 2%;
  position: absolute; left: 88%; top: 2%;
  width: 10%;
}

.shirt-flip:hover {
  background-color: #74bdea;
  color: #fff;
}

.shirt-flip:hover ~ img {
  display: none;
}

.shirt-flip:hover ~ .img2 {
  display: inline;
}


/* The container <div> - needed to position the dropdown content */
.icon-holder {
  background: white;
  border: 2px solid #74bdea;
  color: #74bdea;
  float: left;
  height: auto;
  position: relative;
  padding: 4%;
  width: 20%;
}

i {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.icon-holder:hover {
  background-color: #74bdea;
  color: #fff;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #fff;
    border: 2px solid #74bdea;
    display: none;
    height: auto;
    position: absolute; left: -10%; top:-420%; z-index:999;
    width: 110%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #74bdea;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dfdfdf
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover {
    background-color: #fff;
}

.icon-holder:hover {
  background-color: #74bdea;
  color: #fff;
}

#blue {
  color: #74bdea;
  text-align: center;
}

#orange {
  color: #ddac69;
  text-align: center;
}

#pink {
  color: #e16fa3;
  text-align: center;
}

#green {
  color: #a3c1ad;
  text-align: center;
}

#blue:hover, #orange:hover, #pink:hover, #green:hover {
  background-color: #dfdfdf;
}

button {
  background-color: #74bdea;
  color: #fff;
  font-weight: bold;
  min-height: 40px;
  padding: 5px;
  width: 100%;
}

button:active {
  background-color: #fff;
  color: #74bdea;
}



@media screen and (max-width: 550px) {
  body {
    padding-left: 75px;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding-left: 15px;
  }
  .shirt-container {
    overflow: hidden;
    margin: 12px auto auto;
    min-width: 200px;
    padding: 5px;
    position: relative;
    /*visibility: hidden;*/
    width: calc(40% - 12px);
  }

  .collapsed-menu {
    border: 2px solid #74bdea;
    display: block;
    text-align: center;
    width: 100%;
  }

  .legit-menu {
    display: none;
  }

  .dropdown-content {
      background-color: #fff;
      border: 2px solid #74bdea;
      display: none;
      height: auto;
      position: absolute; left: -6%; top:-375%; z-index:999;
      width: 110%;
  }

  .shirt-flip {
    background: #fff;
    border: 2px solid #74bdea;
    color: #74bdea;
    padding: 5%;
    position: absolute; left: 81%; top: 1.5%;
    width: 17%;
  }
}

/*min-width of shirt-container + margin x 3*/
@media screen and (min-width: 980px) {
  .shirt-container {
    display: inline-block;
    overflow: hidden;
    margin: 12px auto auto;
    min-width: 250px;
    padding: 5px;
    position: relative;
    /*visibility: hidden;*/
    width: calc(30% - 12px);
  }

  .dropdown-content {
      background-color: #fff;
      border: 2px solid #74bdea;
      display: none;
      height: auto;
      position: absolute; left: -8%; top:-400%; z-index:999;
      width: 110%;
  }

  .collapsed-menu {
    display: none;
  }

  .legit-menu {
    display:  inline;
  }


}

@media screen and (min-width: 1200px) {
  .shirt-container {
    display: inline-block;
    overflow: hidden;
    margin: 12px auto auto;
    min-width: 300px;
    padding: 5px;
    position: relative;
    /*visibility: hidden;*/
    width: calc(25% - 12px);
  }
}
